
.results-container {
    margin: 20px auto;
    max-width: 900px;
    padding: 10px;
    color: #ffffff;
}


.results-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
}


.course-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.courseText{
    color: white;
}

.course-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease;
}

.course-card:hover {
    transform: scale(1.02);
}


.course-info {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.course-code {
    font-size: 18px;
    font-weight: bold;
    color: #ffffc1;;
}


.course-rating {
    font-size: 13px;
    color: #fcfcfc;
}


.add-review-btn {
    background-color: #ffffc1;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 14px;
}

.home-btn {
    display: block;
    margin: 20px auto;
    background-color: #ffffc1;
    color: #000000;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.home-btn:hover {
    background-color: #b4b488;
}


.searchthing{
    color: white !important;
}

.course-card {
   
    cursor: pointer; 

}

